{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h2>Bienvenue sur notre boutique ! </h2> <br>
      </div>
   </div>

   <div class="row">
      {% for item in products %}
      <div class="card ml-3" style="width: 18rem;">
         <img class="card-img-top" src="{{ item.image }}" alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title">{{item.nom}}</h5>
            <div style="text-align: center;"> <a class="btn btn-primary"
                  href="{{path('detailProduit', {'id':item.id, 'slug':item.slug}) }}">Détails</a>
            </div>
         </div>
      </div>
      {% endfor %}





   </div>
</div>

{% endblock %}